* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #adcedb;
    text-shadow: 2px 2px 4px #000000;
}

body {
    background-image: url('background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reflect {
    content: attr(data-text);
    background: linear-gradient(0deg, #fff 0, transparent 90%);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
    transform: rotateX(180deg);
    display: flex;
    justify-content: center;
}

.widget {
    display: flex;
    flex-direction: column;
}

.date {
    text-align: center;
}

.clock {
    text-align: center;
}